header{
    padding: 40px;
    display: flex;
    justify-content: flex-start;
    /*border-bottom: 1px solid red;*/
}

h1{
    font-size: 4rem;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin-bottom: 3rem;
}

.worldMap-container{
    max-width: 700px;
}

.btn-wrapper{
    padding: 20px;
}

button{
    font-size: 1rem;
    padding: .5rem 2.5rem;
}

.countries-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.8rem;
    row-gap: 2.5rem;
    height: 460px;
    background: #eeedeb;
    padding: 2rem;
    overflow: auto;
    margin-bottom: 4rem;
}

.country-container{
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.country-container img{
    max-width: 120px;
}

.country-info span{
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

.country-name{
    display: block;
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

ul{


}

li{
list-style: none;
}

.flag-wrapper{
    width: 120px;
    height: 80px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #c5c5c5;
}

.flag-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.blue-text{
    color: #5b76bc;
}

.green-text{
    color: #598051;
}

.red-text{
    color: #c2575e;
}

.yellow-text{
    color: #e0b62f;
}

.purple-text{
    color: #9b5ab5;
}

/*------------------------ Search Results----------------------------*/

.search-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-wrapper{
    margin-bottom: 1.5rem;
}

.search-container{
    border: 1px solid #000000;
    border-radius: 10px;
    padding: .2rem;
}

input[type=search]{
    border: none;
    height: 100%;
    padding: 10px;
    width: 420px;
    font-size: inherit;
}

.search-btn{
    background: black;
    color: white;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 1rem 2rem;
    cursor: pointer;
}


.pic-container{
    width: 224px;
    height: 279px;
}

.pic-container img{
    width: 100%;
    height: 100%;
    aspect-ratio: cover;
}

.search-result-card{
    max-width: 600px;
    padding: 1.5rem;
    background: #eeedeb;
    border-radius: 20px;
}

.card-header{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.card-title{

}

.card-body{
    margin-bottom: 1rem;
}

.card-txt{

}



